<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <!--<link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">-->
    <!--<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">-->
    <!--<link rel="manifest" href="static/img/site.webmanifest">-->
    <title>About Us</title>
</head>
<body>
    <div class="header">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
    </div>
    <div class="main">
        <h1>About Us</h1>
        <p>Hi! We're Derek and Lianhao, two seniors at Thomas Jefferson High School for Science and Technology. We are working in our school's Computer Systems Lab on this project: Audial Language Identifier. Our goal is to take any audio file and identify what language is being spoken. From there we will transcribe and translate it to other languages.</p>
        <!-- <br>
        <div id="left">
            <h3>Derek Li</h3>
            <img src="static/img/derek_li.jpg" alt="Derek Li">
            <p></p>
        </div>
        <div id="right">
            <h3>Lianhao Li</h3>
            <img src="static/img/lianhao_li.jpg" alt="Lianhao Li">
            <p></p>
        </div> -->
    </div>
</body>
</html>